.nav
  %form{ :action => "/upload_dialogue", :method => "get" }
    %button{:type => 'submit', :class => 'btn'} Upload
.restable
  %table
    %thead
      %tr
        %th Name
        / %th Size
        / %th Compressed size
    %tbody
      %table
        - @result.each do |i|
          %tr
            %td
              %a{ :href => "/chart/#{i}" }= i
            / %td= i[1]
            / %td= i[2]