.nav
  %form{ :action => "/upload_dialogue", :method => "get" }
    %button{:type => 'submit', :class => 'btn'} Upload
.restable
  %table
    %thead
      %tr
        %th Name
        / %th Size
        / %th Compressed size
    %tbody
      %table
        - @result.each do |i|
          %tr
            %td
              - if i[0]
                %span= i[0]
            %td
              %a{ :href => "/chart/#{i[0]}:#{i[1]}" }= i[1]