%script{ :src => "/vendor/chartkick.js" }
%script{ :src => "http://www.google.com/jsapi" }
.nav
  %form{ :action => "/", :method => "get" }
    %button{:type => 'submit', :class => 'btn'} Back
.info
  %h3= @chartname
.chart
  %div{:class => 'container'}= line_chart @result, id: "users-chart", height: "600px"